# Install Peer Dependencies when installing a package.
# This might be overriden, in which case you can use
# https://github.com/npm/cli/issues/4934#issuecomment-2109551140
# to find it and fix.
legacy-peer-deps=false